.header {
    display: flex;
    justify-content: space-between;
    margin: 0 95px;
}
.lBtn {
    font-size: 30px;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    width: 216px;
    height: 104px;
    margin-top: 15px;
}
.rBtn {
    width: 269px;
    height: 72px;
    background: #D00000;
    font-size: 28px;
    border: none;
    cursor: pointer;
    margin-top: 44px;
}
