.header {
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
}
.title {
    font-size: 30px;
    width: 216px;
    height: 104px;
    margin-top: 55px;
}
.btn {
    width: 269px;
    height: 72px;
    background: #D00000;
    font-size: 28px;
    border: none;
    cursor: pointer;
    margin-top: 44px;
}
