.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.main {
    display: flex;
    width: 970px;
    justify-content: center;
}
.h1 {
    margin: 111px auto 70px;
}
.equal {
    margin: 25px 57px;
}
.fstick {
    width: 56px;
    height: 5px;
    background-color: #fff;
    border-radius: 15px;
    margin-bottom: 7px;
}
.sstick {
    width: 56px;
    height: 5px;
    background-color: #fff;
    border-radius: 15px;
}
.rate {
    width: 264px;
    margin-bottom: 45px;
}
.name {
    font-size: 50px;
    margin-right: 21px;
}
.value {
    font-size: 50px;
}